body{
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif; ;
}
#Section1
{
    background-color: #1f2937;
    color: white;
    padding: 0 200px;
    height: 80vh;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

.header img {
    height: 50px;
}

.header ul,li, a{
    display: flex;
    gap: 25px;
    font-size: 18px;
    font-weight: 700;
    list-style-type: none;
    text-decoration: none;
}
.header a{
    color: white;
}
.header ul:hover{
    text-decoration: underline;
}
.main {
    display: flex;
    margin-top: 100px;
    align-items: center;
}
.main img{
    margin-left: 150px;
    height: 450px;
    width: 800px;
    border-radius: 10px;
}

.title{
    font-size: 50px;
    font-weight: 1000;
}

.subtext{
    font-size: 24px;
}

.main button{
    background-color: #3882F6;
    font-size: 24px;
    border-radius: 7px;
    border: none;
    padding: 5px 20px;
}
.main a{
    color: white;
}
#Section2{
    background-image: url(img/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    background-color: #ffffff;
}
.header2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title2{
    margin: 60px 0;
    font-size: 36px;
    font-weight: 1000;
    color: white;
}
.info{
    display: flex;
    justify-content: center;
    gap: 50px;
    color: white;
    font-size: 18px;
    font-weight: 800;
}

.item{
    max-width: 280px;
    text-align: center;
    
}
.item img
{
    width: 250px;
    height: 250px;
    border: white 3px solid;
    border-radius: 7px;
}
#Section3{
    background-color: #1f2937;
    color: white;
    padding: 0px 200px;
    height: 60vh;
}
.news img{
    width: auto;
    height: 350px;
    border-radius: 15px;
}

.header3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.title3{
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 1000;
    color: #ffffff;
}
.news{
    display: flex;
    gap: 100px;
}

.subnews h3{
    color: #ffffff;
    font-size: 28px;
    text-decoration: underline;
}
.subnews p, a{
    color: #ffffff;
    font-size: 22px;
    color: #ffffff;
    display: inline;
}
#Section4{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/space.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.content4{
    background-color: #528dec;
    width: 1000px;
    height: 150px;
    display: flex;
    align-items: center;
    border: 5px solid #5890eb;
    gap: 80px;
    padding: 0 30px;
    border-radius: 15px;
}
.text{
    color: #ffffff;
}
.text p{
    font-size: 18px
}
.text h2{
    margin: 0;
    font-weight: 900;
    padding: 0;
}
.content4 button{
    height: 35px;
    width: 110px;
    font-size: 18px;
    font-weight: 800;
    color: #ffffff;
    background-color: #5890eb;
    border: 2px solid white;
    border-radius: 7px;
}
#Footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
}
#Footer p, a{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}
#Footer a:hover
{
    text-decoration: underline;
}
#Footer a:hover{
    transition: 3s ease-in ;
}